.venv/
venv/
venv312/
.venv-dfn3-cuda/
__pycache__/
*.pyc

docs/
data/generated/
models/*.pth
models/*.pt
models/*.onnx

*.wav
*.mp3
*.flac
*.hdf5
*.ckpt
*.pth
*.pt
*.onnx

.ipynb_checkpoints/
.vscode/

external/
.venv/

.DS_Store
csv/
*.csv
*.txt
!src/drdo_anc/fine_tune/requirements-wsl-cuda.txt
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*
zip/
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.lzo
*.tar.lrz
*.tar.lzo

data/benchmark_results/
data/mvp/dfn3/
data/mvp/finetune/
dataset/
data/
data/live_recordings/
